.Quiz-Card {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    padding: 20px;
    background-color: rgba(221, 225, 252, 1);
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #000;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
}

.Quiz-Button {
    background-color: rgba(254, 246, 139, 1);
    border-radius: 10px;
}