.Project-Card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #000;
    margin-bottom: 30px;
    border-radius: 10px;
}